// Tremulous Client Configuration File
// This file contains default CVAR settings for client

// Filesystem Settings
set fs_basegame "gpp"
set fs_game "gpp"

// Master Server Settings
set sv_master1 "master.tremulous.online"
set sv_masterport "30700"

// Graphics Settings
set r_mode "-1"
set r_displayrefresh "0"
set r_fullscreen "1"
set r_customaspect "0"
set r_customwidth "0"
set r_customheight "0"
set r_custompixelaspect "1"
set r_texturebits "0"
set r_colorbits "0"
set r_stencilbits "0"
set r_depthbits "0"
set r_overbrightbits "0"
set r_ext_compressed_textures "1"
set r_ext_multitexture "1"
set r_ext_texture_env_add "1"
set r_ext_texture_filter_anisotropic "1"
set r_ext_compiled_vertex_array "1"
set r_ext_texture_float "1"
set r_ext_framebuffer_object "1"
set r_ext_packed_depth_stencil "1"
set r_ext_occlusion_query "1"
set r_ext_vertex_buffer_object "1"
set r_ext_draw_buffers "1"
set r_ext_separate_shader_objects "1"
set r_ext_shader_objects "1"
set r_ext_timer_query "1"
set r_ext_gpu_shader4 "1"
set r_ext_gpu_shader5 "1"
set r_ext_direct_state_access "1"
set r_ext_texture_sRGB_decode "1"
set r_texturemode "GL_LINEAR_MIPMAP_LINEAR"
set r_textureanisotropylevel "2"
set r_texturelodbias "0"
set r_lodscale "5"
set r_picmip "1"
set r_roundimagesdown "1"
set r_detailtextures "1"
set r_dlightBacks "1"
set r_dynamiclight "1"
set r_finish "1"
set r_fastsky "0"
set r_drawfoliage "1"
set r_flares "0"
set r_flareSize "40"
set r_flareFade "0"
set r_gamma "1.2"
set r_intensity "1"
set r_ignorehwgamma "0"
set r_inGameVideo "1"
set r_mapoverbrightbits "0"
set r_nocurves "0"
set r_nobind "0"
set r_norefresh "0"
set r_overbrightbits "0"
set r_primitives "0"
set r_showcluster "0"
set r_shadows "1"
set r_shadowrealtime "1"
set r_showtris "0"
set r_showbboxes "0"
set r_shownormals "0"
set r_showmodelbounds "0"
set r_showmodelorigins "0"
set r_showsurface "0"
set r_showlightmaps "0"
set r_showlightgrid "0"
set r_showhull "0"
set r_showportal "0"
set r_showsky "0"
set r_showcollision "0"
set r_showworld "0"
set r_showsky "0"
set r_showstatic "0"
set r_showstaticportal "0"
set r_showstaticworld "0"
set r_showstaticsky "0"
set r_showstaticcollision "0"
set r_showstaticbboxes "0"
set r_showstaticnormals "0"
set r_showstaticsurface "0"
set r_showstaticlightmaps "0"
set r_showstaticlightgrid "0"
set r_showstaticcluster "0"
set r_showstaticportal "0"
set r_showstaticworld "0"
set r_showstaticsky "0"
set r_simplemipmaps "0"
set r_smp "0"
set r_subdivisions "2"
set r_swapinterval "0"
set r_vertexlight "0"
set r_wallcolor "0"
set r_floorcolor "0"
set r_alphashift "0"

// Network Settings
set rate "50000"
set snaps "40"
set cl_packetdup "0"
set cl_maxpackets "125"
set cl_nodelta "0"
set cl_noprint "0"
set cl_timeout "125"
set cl_wwwDownload "1"
set cl_allowDownload "1"

// Client Input Settings
set cl_conXOffset "0"
set cl_conYOffset "0"
set cl_mouseAccel "0"
set cl_mouseAccelOffset "0"
set cl_mouseAccelStyle "0"
set cl_showMouseRate "0"
set cl_freelook "1"
set cl_sensitivity "5"
set cl_pitchspeed "140"
set cl_yawspeed "140"
set cl_runroll "0.005"
set cl_runpitch "0.002"
set cl_runyaw "0.140"
set cl_bob "0.002"
set cl_bobcycle "0.6"
set cl_bobup "0.005"
set cl_bobpitch "0.002"
set cl_bobroll "0.002"

// Client Graphics Settings
set cg_drawgun "1"
set cg_drawfps "0"
set cg_drawtimer "0"
set cg_drawstatus "1"
set cg_draw2d "0"
set cg_drawAttacker "1"
set cg_drawCrosshair "4"
set cg_drawCrosshairNames "1"
set cg_crosshairSize "48"
set cg_crosshairX "0"
set cg_crosshairY "0"
set cg_crosshairHealth "0"
set cg_brassTime "2500"
set cg_gun_x "0"
set cg_gun_y "0"
set cg_gun_z "0"
set cg_fov "90"
set cg_zoomfov "22.5"
set cg_fovmin "75"
set cg_fovmax "110"
set cg_zoomSensitivity "1.5"
set cg_thirdperson "0"
set cg_thirdpersonrange "80"
set cg_thirdpersonangle "0"
set cg_thirdpersondead "0"
set cg_autoswitch "1"
set cg_predictitems "1"
set cg_bobbing "1"
set cg_bobbingup "0.005"
set cg_bobbingpitch "0.005"
set cg_bobbingroll "0.005"
set cg_shadows "1"
set cg_stereoSeparation "0.4"
set cg_stereoConvergence "100"
